<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Friendler</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- CSS for Materialize -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="../css/materialize.css"/>
  <link href="../css/profilePage.css" rel="stylesheet">
</head>
<body>
  <!-- Navigation Header -->
  <nav class="navbar-fixed">
    <div class="nav-wrapper teal">
      <a href="#" class="brand-logo center">Friendler</a>
      <ul id="nav-mobile" class="left">
        <li><a href="profile.html">Home</a></li>
      </ul>
      <ul id="nav-mobile" class="right">
        <li><a href="../index.html">Logout</a></li>
      </ul>
    </div>
  </nav>

  <!-- Content -->
  <div class="container center">
    <h2 class="header center">Tamag0tchomon</h2>
    <div class="row">
      <div class="col s0 m1 l2">&nbsp;</div>
      <div class="col s10 m9 l8">
        <div class="card">
          <div class="card-image">
          <img class="profilePic" src="images/ditto.png">
          </div>
        </div>
      </div>
      <div class="col s0 m1 l2">&nbsp;</div>
    </div>
  </div>

  <div class="container row center">
    <div class="col s4">XP TO SPEND: 0</div>
    <div class="col s4 offset-s4">Level: 0</div>
  </div>
  <div class="container row center">
    <div class="col s4">Mood: ('_')</div>
    <div class="col s4 offset-s4">Wants: 
      <a href="inventory.html" class="teal btn-flat">Food</a>
    </div>
  </div>

  <div class="container row">
    <div class="col s4">
      <a href="inventory.html">
        <img class="responsive-img circle img1" src="images/backpack.png">
        <p style="font-size: 160%; text-align: center;">Inventory</p>
      </a>
    </div>
    <div class="col s4">
      <a href="store.html">
        <img class="responsive-img circle img" src="images/store.jpg">
        <p style="font-size: 160%; text-align: center;">Shop</p>
      </a>
    </div>
    <div class="col s4">
      <a href="friends.html">
        <img class="responsive-img circle img3" src="images/friends.png">
        <p style="font-size: 160%; text-align: center;">Friends</p>
      </a>
    </div>
  </div>
  <div class="container row">
    <div class="col s4 offset-s4">
      <a href="checkin.html">
        <img class="responsive-img circle img" src="images/check.jpg">
        <p style="font-size: 160%; text-align: center;">Check-In</p>
      </a>
    </div>
  </div>


  <!-- Footer -->
 	<footer class="page-footer teal">
 		<div class="container">
      <div class="row">
        <div class="col s12">
        	<h5 class="white-text">Friendler</h5>
          <p class="grey-text text-lighten-4">Here at Friendler, we understand that social anxiety is often an inhibitting factor for people that prevent them from meeting new friends and strengthening old bonds. However, by providing you with small and incremental incentives, we hope to mitigate these anchors to help you lean into your discomforts and make social interactions feel more routine and encouraging.</p>
        </div>
      </div>
    </div>
 	  <div class="footer-copyright">
    	<div class="container">
        © 2016 Copyright
      </div>
    </div>
  </footer>

	<!-- Scripts for Materialize -->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="../js/materialize.min.js"></script>
</body>
</html>