<!DOCTYPE html>
<html lang="en">
<head>
  <title>Create Account</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="../css/materialize.css"/>
</head>
<body onLoad="Materialize.fadeInImage('#main-content')">
  <!-- Navigation Header -->
  <nav class="navbar-fixed">
    <div class="nav-wrapper teal">
      <a href="#" class="brand-logo center">Friendler</a>
      <ul id="nav-mobile" class="left">
        <li><a href="../index.html">Back</a></li>
      </ul>
      <ul id="nav-mobile" class="right">
        <li><a href="#" onClick="$('this').preventDefault();">Tricia Ngoon</a>
      </ul>
    </div>
  </nav>

<div class="container">
  <div class="row">
    <form class="col s12">
      <div class="row">
        <h4>Name:</h4>
        <div class="input-field col s6">
          <input placeholder="Krushi" id="first_name" type="text" class="validate">
          <label for="first_name">First Name</label>
        </div>
        <div class = "input-field col s3">
          <input placeholder="P." id="middle_name" type="text" class="text">
          <label for="middle_name">Middle Initial</label>
        </div>
        <div class="input-field col s6">
          <input  placeholder="Slayer" id="last_name" type="text" class="validate">
          <label for="last_name">Last Name</label>
        </div>
      </div>

      <div class="row">
        <h4>Date of Birth:</h4>
        <div class="input-field col s4">
          <input placeholder="December" id="month" type="text" class="validate">
          <label for="month">Month</label>
        </div>
        <div class = "input-field col s3">
          <input placeholder="25" id="day" type="number" min = "1" max = "31" class="validate">
          <label for="day">Day</label>
        </div>
        <div class="input-field col s4">
          <input  placeholder="1990" id="year" type="number" min = "1900" max = "2016" class="validate">
          <label for="year">Year</label>
        </div>
      </div>

      <div class="row">
        <h4>User Information</h4>
        <div class="row">
          <div class="input-field col s8">
            <input placeholder = "ilikepie@gmail.com" id="email" type="email" class="validate" required="" aria-required="true">
            <label for="email" data-error="wrong" data-success="right">Email</label>
          </div>
          <div class="input-field col s8">
            <input placeholder ="npslay85" id="username" type="text" class="validate" required="" aria-required="true" length = "10">
            <label for="example" data-error="wrong" data-success="right">Username (maximum 10 chars)</label>
          </div>
          <div class="input-field col s8">
            <input placeholder ="" id="password" type="password" class="validate" required="" aria-required="true" length = "10">
            <label for="example" data-error="wrong" data-success="right">Password (maximum 10 chars)</label>
          </div>
        </div>
      </div>
      <div class="row">
        <a href = "tutorial.html" class="btn waves-effect waves-light" type="button" name="action">Create Account
        </a>
      </div>
    </form>
  </div>
</div>

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <h5 class="white-text">Friendler</h5>
          <p class="grey-text text-lighten-4">Here at Friendler, we understand that social anxiety is often an inhibitting factor for people that prevent them from meeting new friends and strengthening old bonds. However, by providing you with small and incremental incentives, we hope to mitigate these anchors to help you lean into your discomforts and make social interactions feel more routine and encouraging.</p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © 2016 Copyright
      </div>
    </div>
  </footer>

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="../js/materialize.min.js"></script>
</html>